<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config/>


    <bean id="dog" class="top.calvinhaynes.pojo.Dog"/>
    <bean id="dog1" class="top.calvinhaynes.pojo.Dog"/>
    <bean id="cat111" class="top.calvinhaynes.pojo.Cat"/>
    <bean id="person" class="top.calvinhaynes.pojo.Person">
        <property name="name"><null/></property>
    </bean>
<!--    <bean id="cat1" class="top.calvinhaynes.pojo.Cat"/>-->



    <!--非自动装配的设置 -->
<!--    <bean id="person" class="top.calvinhaynes.pojo.Person">-->
<!--        <property name="name" value="李华"/>-->
<!--        <property name="cat" ref="cat"/>-->
<!--        <property name="dog" ref="dog"/>-->
<!--    </bean>-->

    <!--自动装配设置-->
    <!--autowire="byName"，按名称自动装配-->
    <!--当一个bean节点带有 autowire byName的属性时。-->
    <!--    - 将查找其类中所有的set方法名，例如setCat，获得将set去掉并且首字母小写的字符串，即cat。-->
    <!--    - 去spring容器中寻找是否有此字符串名称id的对象。-->
    <!--    - 如果有，就取出注入；如果没有，就报空指针异常。-->
<!--    <bean id="person1" class="top.calvinhaynes.pojo.Person" autowire="byName">-->
<!--        <property name="name" value="Calvin Haynes"/>-->
<!--    </bean>-->

    <!--按类型自动装配 -->
    <!--使用autowire byType首先需要保证：同一类型的对象，在spring容器中唯一。如果不唯一，会报不唯一的异常。 -->
<!--    <bean id="person2" class="top.calvinhaynes.pojo.Person" autowire="byType">-->
<!--        <property name="name" value="李华"/>-->
<!--    </bean>-->

    <!--利用constructor进行自动装配-->
    <!--找到自动注入对应的有参构造器进行自动注入 -->
<!--    <bean id="person3" class="top.calvinhaynes.pojo.Person" autowire="constructor">-->
<!--        <property name="name" value="小狗"/>-->
<!--    </bean>-->
</beans>