<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="mysqlImpl" class="top.calvinhaynes.dao.UserDaoMySQLImpl"/>
    <bean id="oracleImpl" class="top.calvinhaynes.dao.UserDaoOracleImpl"/>

    <bean id="userService" class="top.calvinhaynes.service.UserServiceImpl">
        <!--引用另外一个bean , 不是用value 而是用 ref-->
        <!--本质上就是利用set方法实现userDao属性的修改，如果去掉set方法这里会报错 -->
        <property name="userDao" ref="mysqlImpl"/>
    </bean>
</beans>