<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!--数据库字段名下划线命名自动转换为Java对象的驼峰命名-->
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <!--别名设置-->
    <typeAliases>
        <package name="top.calvinhaynes.pojo"/>
    </typeAliases>

    <!--关联映射器文件-->
    <mappers>
        <mapper resource="top/calvinhaynes/dao/BookMapper.xml"/>
    </mappers>

</configuration>